.tiles{
	background: lightblue;
	width: 100px;
	height: 100px;
	font-size: 20px;
}

.playArea{
	margin-top: 5%;
	text-align: center;
}

.navigate{
	background: green;
	float: left;
}

table{
	border: 2px;
	border-style: solid;
	text-align: center;
}

.keys{
	margin-top: 2px;
}

tr{
	border-style: solid;
	border: 2px;
	text-align: center;
}
