.tiles{
	background: lightblue;
	width: 100px;
	height: 100px;
	font-size: 20px;
}

#top{
	background-color: red;
	height: 1px;
}

#up, #down{
	margin-left: 30%;
}

td.updown{
	border-style: none;
}

#bottom{
	background-color: lightgrey;
	border-color: grey;
	border-radius: 20px;
	box-shadow: 0px 10px 20px #888888;
	width: 800px; 
	height: 10px;
	-webkit-box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 10px 12px rgba(23, 69, 88, .5);
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%, yellow), color-stop(15%, orange), color-stop(100%, #A7AA77)); 
}

.playArea{
	border: 2px;
	border-style: solid;
	border-radius: 3px;
	border-color: #8e4600;
}

.navigate{
	background: green;
	float: left;
}

img{
	width: 50px;
	height: 50px;
}

td{
	font-weight: bold;
	font-size: 20px;
	width: 60px;
	height: 60px;
	text-align: center;
	border-style: solid;
	border-radius: 3px;
	border-color: darkorange;
}

.navigate{
	width: 60px;
	height: 55px;
	background-color: lightgrey;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	border-radius: 10px;
}

.navigate:hover{
	width: 60px;
	height: 55px;
	background-color: darkgrey;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	border-radius: 10px;
}

.center{
	margin-left: 41%;
}